body, html {
    height: 100%;
}

#wrapper {
    background-image: url("../images/LotR-bkgd1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-content {
    background: rgba(255, 255, 255, 0.8);
    padding-bottom: 20px;
    
}

#trivia {
    /* border: 5px solid red; */
}

button {
    width: 150px;
    height: 40px;
    margin: 0 10px;
}